@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-light::-webkit-scrollbar {
    width:  8px;
  }

  .scrollbar-light::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .scrollbar-light::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  .scrollbar-light::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .dark .scrollbar-dark::-webkit-scrollbar {
    width: 8px;
  }

  .dark .scrollbar-dark::-webkit-scrollbar-track {
    background: #333;
  }

  .dark .scrollbar-dark::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
  }

  .dark .scrollbar-dark::-webkit-scrollbar-thumb:hover {
    background: #444;
  }
}

@layer base {
  :root {
    --text: #190321;
    --text-secondary: #610361;
    --background: #fbf1fe;
    --primary: #622772;
    --secondary: #cf8fe0;
    --tertiary: #ebec85;
    --accent: #ff3d44;
    --foreground: #0a0a0a;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary-foreground: #fafafa;
    --secondary-foreground: #1a1a1a;
    --muted: #f2f2f2;
    --muted-foreground: #737373;
    --accent: #c559e3;
    --accent-foreground: #1a1a1a;
    --destructive: #d92c2c;
    --destructive-foreground: #fafafa;
    --border: #e6e6e6;
    --input: #e6e6e6;
    --ring: #0a0a0a;
    --chart-1: #e65932;
    --chart-2: #2c9974;
    --chart-3: #255c73;
    --chart-4: #f0c24c;
    --chart-5: #f79529;
    --radius: 0.5rem;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #4a4a4a;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f2f2f2;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #d1d8e0;
    --sidebar-ring: #357edd;
  }

  .dark {
    --text: #f4defc
    --background: #0b010e
    --primary:#c88dd8
    --secondary: #5e1f70
    --accent:#881ca6
    --foreground: #fafafa;
    --card: #0a0a0a;
    --card-foreground: #fafafa;
    --popover: #0a0a0a;
    --popover-foreground: #fafafa;
    --primary-foreground: #1a1a1a;
    --secondary-foreground: #fafafa;
    --muted: #292929;
    --muted-foreground: #a3a3a3;
    --accent-foreground: #fafafa;
    --destructive: #5d1313;
    --destructive-foreground: #fafafa;
    --border: #292929;
    --input: #292929;
    --ring: #d3d3d3;
    --chart-1: #0080ff;
    --chart-2: #009966;
    --chart-3: #d98e32;
    --chart-4: #a63ea6;
    --chart-5: #e61e4d;
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f2f2f2;
    --sidebar-primary: #0d47a1;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #292929;
    --sidebar-accent-foreground: #f2f2f2;
    --sidebar-border: #292929;
    --sidebar-ring: #357edd;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
/* body {
  overflow: auto !important;
} */
